body{
    background: black;
    color: blanchedalmond;
    font-size: 17px;
}

strong{
    text-transform: uppercase;
}

/**PAGE MARQUES
========================================================*/
.topnav{
    transition: 800ms;
    overflow: hidden;
  }

  .navscroll{
      transition: 1000ms;
      font-size: 130%;
      background-color: rgb(80, 39, 0);
  }

/**PAGE MARQUES
========================================================*/
#titre-marque{
    margin: 150px 0px 100px 0px;
    text-transform: uppercase;
    text-align: center;
}
.titre-new{
    text-align: center;
}

h2{
    font-size: 400%;
}

h4{
    font-size: 150%;
    margin-bottom: 50px;
}

.new{
    border-bottom: 1px solid white;
}

.new h2{
    margin-top: 120px;
}

.btn-new{
    transition: 500ms;
    transform: scale(1);
    border: 4px solid rgb(80, 39, 0);
    border-radius: 20px;
    padding: 10px;
    color: blanchedalmond;
    font-size: 130%;
}

.btn-new:hover{
    transition: 500ms;
    text-decoration: none;
    opacity: 70%;
    color: blanchedalmond;
    background-color: rgb(80, 39, 0);

}

.btn-diesel,.btn-patek,.btn-rolex.btn-rm{
    margin-top: 200px;
    color: rgb(80, 39, 0);
    font-size: 110%;
}

.history{
    position: relative;
    padding: 10px;
    background: rgb(80, 39, 0);
    color: rgb(255, 255, 255);
    font-size: 115%;
}

.txt{
    display: flex;
    align-items: center;
    text-align: center;
    height: 1100px;
}

.text-1,.text-2{
    font-size: 120%;
}

.text-2{
    margin-left: 300px;
}

img{
    position: relative;
}

.img-left{
    float: left;
}

.img-right{
    float: right;
}

/*RESPONSIVE
=================================================*/
@media screen and (max-width: 1280px) {
    .text-2{
        margin: 0px;
    }

    .history{
        display: block;
    }
}

@media screen and (max-width: 1025px) {
        .txt{
            display: block;
            margin: 75px 0px 50px 0px;
            height: auto;
        }

        img{
            width: 100%;
            height: auto;
        }

        .text-2{
            margin: 0;
        }
}

